


<html>
<head> 
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


<h1>IRIS SPECIES PREDICTION</h1>
<form action="{{url_for('predicted')}}" method="post" >

<input type="text" name="Sepal length" placeholder="Sepal length" required="required"/>

<input type="text" name="Sepal width" placeholder="Sepal width" required="required"/>


<input type="text" name="Petal length" placeholder="Petal length" required="required"/>



<input type="text" name="Petal width" placeholder="Petal width" required="required"/>


<input type="submit" value="Predict"/>


      
{% if output==0 %}
<div>
<div style="float:left">
<h2>Iris Setosa</h2>
<img src="static/setosa.jpeg" />
</div>
<div style="float:right">
<div  style="width:570px;height:770px;">
<canvas id="myChart" width="200" height="200"  ></canvas></div>
<script type="text/javascript">

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['Setosa', 'Versicolor', 'Virginica'],
        datasets: [{
            label:'Iris flower',
            //backgroundColor: 'rgba(0,255, 255, 0.1)',
            //backgroundColor:['#f1c40f','#e67e22','#2980b9'],
            backgroundColor: [ 'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)', 'rgba(255, 159, 64, 0.2)'],
          //  borderColor: 'rgb(255, 99, 132)',
          borderColor:[  'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 159, 64, 1)'],
             borderWidth: 1,
            data: [100, 20, 15]
        }]
    },

    // Configuration options go here
    options: {
      title: {
            display: true,
            text: 'Iris Species Bar graph'
        },
         scales: {
             yAxes: [{
                 ticks: {
                     beginAtZero: true
                 }
             }]
         }
     }
});


</script>
</div>
</div>
{% elif output==1 %}

<div>
<div style="float:left">
<h2>Iris Versicolor</h2>
<img src="static/versicolor.jpeg" />
</div>
<div style="float:right">
<div  style="width:570px;height:770px;">
<canvas id="myChart" width="200" height="200"  ></canvas></div>
<script type="text/javascript">

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['Setosa', 'Versicolor', 'Virginica'],
        datasets: [{
            label:'Iris flower',
            //backgroundColor: 'rgba(0,255, 255, 0.1)',
            //backgroundColor:['#f1c40f','#e67e22','#2980b9'],
            backgroundColor: [ 'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)', 'rgba(255, 159, 64, 0.2)'],
          //  borderColor: 'rgb(255, 99, 132)',
          borderColor:[  'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 159, 64, 1)'],
             borderWidth: 1,
            data: [10, 100, 15]
        }]
    },

    // Configuration options go here
    options: {
      title: {
            display: true,
            text: 'Iris Species Bar graph'
        },
         scales: {
             yAxes: [{
                 ticks: {
                     beginAtZero: true
                 }
             }]
         }
     }
});


</script>
</div>
</div>


{% elif output==2 %}

<div>
<div style="float:left">
<h2>Iris Virginica</h2>
<img src="static/virginica.jpeg" />
</div>
<div style="float:right">
<div  style="width:570px;height:770px;">
<canvas id="myChart" width="200" height="200"  ></canvas></div>
<script type="text/javascript">

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['Setosa', 'Versicolor', 'Virginica'],
        datasets: [{
            label:'Iris flower',
            //backgroundColor: 'rgba(0,255, 255, 0.1)',
            //backgroundColor:['#f1c40f','#e67e22','#2980b9'],
            backgroundColor: [ 'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)', 'rgba(255, 159, 64, 0.2)'],
          //  borderColor: 'rgb(255, 99, 132)',
          borderColor:[  'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 159, 64, 1)'],
             borderWidth: 1,
            data: [10, 20, 100]
        }]
    },

    // Configuration options go here
    options: {
      title: {
            display: true,
            text: 'Iris Species Bar graph'
        },
         scales: {
             yAxes: [{
                 ticks: {
                     beginAtZero: true
                 }
             }]
         }
     }
});


</script>
</div>
</div>


{% else %}
<h3>None</h3>
{% endif %}



</form>

</body>



</html>


